.section {
    width: 100%;
    height: 90vh;
    background-color: #181c44;
}
.section .title  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section .title h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
}
.card-container {
   background-color: #fff;
   width: 400px;
   overflow: hidden;
   box-shadow: #141212 0 5px 16px;
   border-radius: 6px;
}
.img-container img {
   overflow: hidden;
   height: 200px;
}
.card-content {
    margin: 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-title {
    margin-bottom: 0.5rem;
}
.btn-knowmore {
    display: flex;
    justify-content: center;
}
.btn-knowmore button {
    padding: 0.5rem;
    background-color: #6357a8;
    border: none;
    margin-bottom: 0.5rem;
    border-radius: 3px;
}
.btn-knowmore button:hover {
    background-color: rgb(27, 156, 252, 0.1);
    
}

/* CARD GRID */
.section .hero-container {
    padding-top: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}
.hero-container .card-1 {
    grid-column-start: 1;
    grid-row-start: 1;
}
.hero-container .card-2 {
    grid-column-start: 2;
    grid-row-start: 1;
}
.hero-container .card-3 {
    grid-column-start: 3;
    grid-row-start: 1;
}
.hero-container .card-4 {
    grid-column-start: 1;
    grid-row-start: 2;
}
.hero-container .card-5 {
    grid-column-start: 2;
    grid-row-start: 2;
}
.hero-container .card-6 {
    grid-column-start: 3;
    grid-row-start: 2;
}

@media(max-width: 1115px) {
    .section .hero-container {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);
        grid-gap: 25px;
    }
    .hero-container .card-1 {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .hero-container .card-2 {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    .hero-container .card-3 {
        grid-column-start: 1;
        grid-row-start: 2;
    }
    .hero-container .card-4 {
        grid-column-start: 2;
        grid-row-start: 2;
    }
    .hero-container .card-5 {
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .hero-container .card-6 {
        grid-column-start: 2;
        grid-row-start: 3;
    }
};